<template>
    <div class="q-pa-md q-gutter-sm">
        <q-dialog v-model="simpleSuccessDialog.show" persistent transition-show="scale" transition-hide="scale">
            <q-card class="bg-teal text-white" style="width: 300px">
                <q-card-section>
                    <div class="text-h6">{{simpleSuccessDialog.title}}</div>
                </q-card-section>

                <q-card-section class="q-pt-none">
                    {{simpleSuccessDialog.msg}}
                </q-card-section>

                <q-card-actions align="right" class="bg-white text-teal">
                    <q-btn flat label="OK" v-close-popup />
                </q-card-actions>
            </q-card>
        </q-dialog>
        <q-dialog v-model="simpleDangerDialog.show" persistent transition-show="scale" transition-hide="scale">
            <q-card class="bg-red text-white" style="width: 300px">
                <q-card-section>
                    <div class="text-h6">{{simpleDangerDialog.title}}</div>
                </q-card-section>

                <q-card-section class="q-pt-none">
                    {{simpleDangerDialog.msg}}
                </q-card-section>

                <q-card-actions align="right" class="bg-white text-teal">
                    <q-btn flat label="OK" v-close-popup />
                </q-card-actions>
            </q-card>
        </q-dialog>
    </div>
</template>