@model string
@{ 
	Layout = null;
}
	<div id="@Model" v-show="ismine">
		Hi {{name}}!
		<q-input v-model="name" />
		<q-btn label="Click me" color="primary" @@click="showSuccess()"/>
	</div>
<script>

	var data = {
		name: "@Model",
		myTab: @ViewBag.index
	}
	new Vue({
		el: '#@Model',
		data: data,
		computed: {
			ismine: function () {
				return this.myTab == topmenu.tab;
			}
		},
		methods: {
			showSuccess: function () {
				topmenu.showSimpleSuccess('@Model', this.name);
			}
		}
	});
</script>